 .MuiRating-label {
    font-size: 30px;
    color: #dee204;
}
.loaderStyle {
    margin-top: 5px !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    width: 100% !important;
  }
.MuiPaper-rounded{
    border-radius: 15px;
}
.MuiButton-root:hover{
    background-color: #e3e3e3;
}
/* .MuiDialogContent-root {
    height: 300px;
    width: 300px;
} */ 