.sectionBackground {
    background: #F0F0F0 !important;
}

.sectionBorder {
    border-top: 2px solid #000000 !important;
}

.sliderBackground {
    background: #F9F9F9 !important;
}

.sliderBorder {
    border-top: 2px solid #000000 !important;
}

.button {
    /* margin: 20px 0px !important; */
    border-radius: 5em !important;
    line-height: 1.3 !important;
    text-transform: none !important;
}

.buttonMarginTopPane {
    margin: 20px 15px !important;
}

.buttonMarginLeftPane {
    margin-bottom: 5px !important;
    float: right !important;
}

.headerText {
    font-weight: bold !important; 
    font-style: italic !important;
}

.recordsCountSection {
    padding: 10px 20px !important;
}

.platformViewSection {
    padding: 20px !important;
    margin-bottom: 40px !important;
}