#RenderFilter-Block {
    display: block;
    box-sizing: border-box;
}

#RenderFilter-flexContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    flex-wrap: wrap;
}

#RenderFilter-btn {
    border-radius: 7px;
    margin: .4rem;
    transition: all .2s;

}

#RenderFilter-btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2)
}

#RenderFilter-btn:focus, #RenderFilter-btn:active {

    background-color: transparent;
}
#RenderFilter-btnVisited {
    border-radius: 7px;
    margin: .4rem;
    transition: all .2s;
    color: #fff;
    background-color: #259ffb;
    transform: translateY(-1px) scale(1);
    box-shadow: 0 5px 10px rgba(0,0,0,0.2)
}



#RenderFilter-textContainer {
    text-align: left;
    font-size: 1.1rem;
    margin-left: 0.4rem;
}

#RenderFilter-textHeader {
    font-weight: 500;
    font-size: 1.1rem
}