.button-container {
  display: flex;
  justify-content: center;
}

.input {
  height: 1rem !important;
}

.selected {
  background-color: #3379ff !important;
  color: #ffffff;
  border-color: #cacfd2;
  font-weight: bold !important;
  padding: 2px 3px !important;
  margin-left: 2px !important;
  border-radius: 2px !important;
}

button:active {
  background-color: #6b9fff !important;
}

/* .durationBtn {
  font-weight: 500 !important;
  padding: 2px 3px !important;
} */

.react-daterange-picker {
  position: absolute !important;
  height: 23px !important;
  border-bottom: none !important;
}

.react-daterange-picker__inputGroup {
  margin-bottom: 28px !important;
}

.MuiTableCell-sizeSmall {
  padding: 6px 12px 6px 12px !important;
}

.class1 {
  font-size: small !important;
}

.MuiAutocomplete-input {
  padding: 0px 4px !important;
  height: 2rem !important;
  border-bottom: none !important;
  font-size: 14px !important;
  margin: 0 !important;
}

.MuiAutocomplete-inputRoot {
  padding-bottom: 1px !important;
  padding-top: 1px !important;
  background-color: #ffffff !important;
}

.MuiChip-root {
  height: 24px !important;
}

.MuiChip-deleteIcon {
  height: 18px !important;
  width: 18px !important;
}

.MuiAutocomplete-root fieldset {
  border-color: #000000 !important;
}
